.field {
    display: grid;
    gap: 8px;
}
.field__label {
    font-size: 14px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    color: #1D1D1F;
}

.field__input {
    padding: 20px 16px;
    color: #1D1D1F;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid #E9E8EB;
    width: 100%;
}

